
header {
  background: rgba(10, 10, 10, 0.65);
  min-height: 12em;
  padding: 1%;
  position: relative;
  top: 60vh;
}
header.landing {
  min-height: 10em;

}

header>div {
  width: 90%;
  margin: 0 auto;
}

header div img {
  opacity: 1;
  z-index: 999;
}

header h2 {

border-bottom: 1px solid white;
color: rgba(255,255,255,1);
font-size: 3em;  
font-family: "Open Sans Condensed", Helvetica, sans-serif;
margin-top: 0;
padding-bottom: 0.5%;

}
header h3 {
  color: rgba(255,255,255,1);
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 1.7em;
  margin: 0.5% 1% 0 5%;
  padding: 0 0 2% 0;
  text-align: justify;
  z-index: 100;
}

#logo {
  
  line-height: 1;
  margin-right: 10%;
  padding-right: 5%;
  top: 0;
  vertical-align: middle;
 
}

nav {
  
  margin-top: 0%;
  padding: 1% 0 1% 0;
  position: fixed;
  z-index: 999;
  
}


nav div {
  width: 95%;
  margin: 0 auto;
}
/*nav a {
    text-decoration: none;
}
nav li {
  display: inline-block;
}*/
footer {
  bottom: 0;
  position: fixed;
  width: 90%;
  z-index: 999;

}

footer span {
    color: white;
    display: inline; 
}
footer a {
  background: rgba(0,0,0,0);
  border-radius: 5%;
  font-size: 1.2em;
  padding: 0 0 0.5% 0;
  text-decoration: none !important;
}



