
header {
  min-height: 12em;
  padding: 1%;
  position: relative;
  top: 55vh;
  background: rgba(30, 30, 30, 0.65);
  
}

header>div {
  padding-bottom: -5%;
  margin-left: 3%;
  border: 1px solid white;
  /*width: 90%;*/
}

header div img {
  opacity: 1;
  z-index: 999;
}
hr {
  border: 0.1em solid #000;
  margin: 0.5% 0 0 0;
}


header h3 {
  color: white;
  margin: 1% 0 auto;
  padding-top: 0;
  z-index: 100;
}

#logo {
  top: 0;

  margin-right: 10%;
  padding-right: 5%;
  vertical-align: middle;
  line-height: 1;
}

nav {
  /*top: 1em !important;*/
  margin: 0 auto;
  top: 2em;
  position: relative;
  width: 90%; !important;
}


footer {
  margin-top: 5em;

}

footer a {
  animation: all 2s !important;
  background: rgba(255,255,255,0);
  border-radius: 5%;
  font-size: 1.2em;
  padding: 0.5%;
  text-decoration: none !important;
}

footer a:hover {
  background: #EEE !important;
  /*color: white !important;*/
  opacity: 0.5;
}

