
header {
  min-height: 10em;
  padding: 1%;
  position: relative;
  top: 57vh;
  background: rgba(20, 20, 20, 0.65);
  
}

header>div {
 
  margin-left: 3%;
  border: 1px solid white;
  /*width: 90%;*/
}

header div img {
  opacity: 1;
  z-index: 999;
}
hr {
  border: 0.1em solid #000;
  margin: 0.5% 0 0 0;
}


header h3 {
  color: rgba(255,255,255,1);
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  margin: 1% 0 auto;
  padding-top: 0 0 2% 0;
  z-index: 100;
}

#logo {
  
  line-height: 1;
  margin-right: 10%;
  padding-right: 5%;
  top: 0;
  vertical-align: middle;
 
}

nav {
  
  margin-top: 0%;
  padding: 1% 0 2% 0;
  
}


footer {
  margin-top: 5em;
}
footer span {
    color: white 
}
footer a {
 
  background: rgba(0,0,0,0);
  border-radius: 5%;
  font-size: 1.2em;
  padding: 0.5%;
  text-decoration: none !important;
}



