/*HELPERS*/
.center-div {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.clear-both {
  clear: both;
}

.container {
  height: 100%;
    margin: 0;
  padding: 0;
  width: 100%;
}

.display-none {
  visibility: hidden; 
}

.float-left {
  display: block;
  float: left;
}

.float-right {
  display: block;
  float: right;
}

.width-100 {
  width: 100%;
}

.inline {
  position: inline;
}

small {
  font-size: 1em;
}
