
/*GLOBAL*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*@import url(../fullpagejs/jquery.fullPage.css);*/
@import url(./components.css);
@import url(./form.css);
@import url(./header_nav_footer.css);
@import url(./helpers.css);
@import url(./modal.css);
@import url(./responsive.css);


.background {
    background:  url("../assets/web-7.jpg") no-repeat center;
    background-size: cover;
    background-position: 30% -10%;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: -1;
}


.background1 {
    background:  url("../assets/web-5.jpg") no-repeat;
    background-size: cover;
    background-position: 0% 75%; 
   

}

.background1a {
    background:  url("../assets/web-6.jpg") no-repeat;
    background-size: cover;
      background-position: 0% 100%; 
}

.background2 {
    
    background:  url("../assets/web-3.jpg") no-repeat;
    background-size: cover;
      background-position: 0% 30%; 
}

.background2a {
    
    background:  url("../assets/web-4.jpg") no-repeat;
    background-size: cover;
    background-position: 0% 15%; 
}

.background3 {
   background:  url("../assets/web-2.jpg") no-repeat center;
    background-size: cover; 
     /* background-position: 0% 35%; */
}

 
 body {
 
  color: rgba(255,255,255,1);
   font-family: "Raleway", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

 } 

div.fp-tableCell {
  /*max-height: 90%;
  max-width: 100%;*/
  z-index: 1;
}


#logo {
  opacity: 0.5;
}


