
/*GLOBAL*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(../fullpagejs/jquery.fullPage.css);
@import url(./components.css);
@import url(./form.css);
@import url(./header_nav_footer.css);
@import url(./helpers.css);
@import url(./modal.css);
@import url(./responsive.css);


.background {
    background: url("../assets/schoolhouse_ext.gif") no-repeat center;
    background-size: cover;
    margin-top: 0;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.8;
   /* overflow: hidden;*/
    position: relative;
}

.background1 {
    background: url("../assets/forest.gif") no-repeat center;
    background-size: cover;
}

.background2 {
    
    background: url("../assets/bridge.gif") no-repeat center;
    background-size: cover;
}

.background3 {
    background: url("../assets/schoolhouse_int.gif") no-repeat center;
    background-size: cover;
}
 
 body {
  font-family: "Raleway", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

 } 

div.fp-tableCell {
  /*max-height: 90%;
  max-width: 100%;*/
  z-index: 1;
}


#logo {
  opacity: 0.5;
}


