/*
w * h
mobile: 320px x 480px // iPhone 4 portrait
mobile: 320px x 568px // iPhone 5 portrait 
phablet        x 768px
tablet: 768px x 1024px// iPad portrait
notebook: 1280px x 800px 


*/
/********** MOBILE**************/

@media only screen and (max-width: 568px) {
    /*   330: Schoolhouse Logo degrades  */
    
    header h2 {
        font-size: 2em !important;
    }
    /* 472: footer jumps into grey bar  */
    

}
/********** PHABLET ***********/

@media only screen and (max-width: 800px){
    /*  640: splash page subheading starts to jump */
    header {
        min-height: 10em;
        top: 70vh;
    }

    header h3 {
        padding: 3% 1% 1% 1%;
        font-size: 1em !important;
    }

    .header-text h2 {
        font-size: 1.5em !important;
        text-align: center;
    }
    /* 768: links go to far left block */
    
    nav.gradient {
        width: 100% !important;
    }
    nav #menu>li>a {

        font-size: 1.1em;
        margin-top: 0;
        padding: 1% 0 1% 1%;

    }
    /*style logo*/
    #shp-logo {
        display: block;
        float: none;
        height: 4.5em !important;
        margin: 0 auto;
        padding: 1%;
    }

    /* Style login form*/

    #login h2 {
        font-size: 2em;
    }

   .modalDialog  div {
    width: 70%;
    height: 30%;
}

    input {
    width: 5em !important;
}
    /******** Hamburger **********/

    #hamburger {
        cursor: pointer;
        margin: 1% 0 0 1%;
    }
    .collapsed {
        height: 0;
        opacity: 0;
    }
    .not-collapsed {
        height: 12em;
        opacity: 1;
    }

    .mobile-footer {
        border-bottom: 1px solid white;
        margin-bottom: 1%;
    }
    .mobile-footer span {
        font-size: 0.6em;

    }

    .mobile {
        display: block;
    }

    .tablet {
        display: none;
    }
    .tabletAndUp {
        display: none;
    }

    footer {
        display: none;
    }

    /*** Photos**/
    .background2a {
    
    background: url("../assets/web-3.jpg") no-repeat !important;
    background-size: cover !important;
    background-position: 25% 25% !important; 
}


}
/********** TABLET *********/

@media only screen and (min-width: 801px) {
    /* of Links 1,2,3,4
        803: both links degrade further
        803: *** all fonts degrade  -- set font-size here !important ***
        1150: link 3 degrades
        1300: link 4 degrades
    */
    #hamburger {
        display: none;
    }
    
    nav a {
        font-size: 1em !important;
       /* width: 80%;*/
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block !important;
    }

    .tabletAndUp {
        display: none !important;
    }

  /*  footer {
        display: inline-block;
    }*/

}
/************ NOTEBOOK AND UP**************/

@media only screen and (min-width: 1301px) {


    .tablet {
        display: none;
    }

    .tabletAndUp {
        display: block;
    }


}
